@model Epicode_U5_W2_D5_BenchMark.Models.AddPrenotazioniModel

@{
    ViewBag.Title = "Create";
}

<h2>Aggiungi prenotazione</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.EditorFor(model => model.FkCliente, new { htmlAttributes = new { @class = "form-control d-none", @Value = ViewBag.id } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FkCamera, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.FkCamera, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FkCamera, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dal, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Dal, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
            @Html.ValidationMessageFor(model => model.Dal, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Al, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Al, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
            @Html.ValidationMessageFor(model => model.Al, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caparra, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Caparra, new { htmlAttributes = new { @class = "form-control", @Type ="number" } })
            @Html.ValidationMessageFor(model => model.Caparra, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tariffa, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Tariffa, new { htmlAttributes = new { @class = "form-control", @Type = "number" } })
            @Html.ValidationMessageFor(model => model.Tariffa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MezzaPensione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="checkbox">
                @Html.EditorFor(model => model.MezzaPensione)
                @Html.ValidationMessageFor(model => model.MezzaPensione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaColazione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="checkbox">
                @Html.EditorFor(model => model.PrimaColazione)
                @Html.ValidationMessageFor(model => model.PrimaColazione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Aggiungi" class="btn btn-primary mt-3" />
        </div>
    </div>
}
