@model IEnumerable<Epicode_U5_W2_D5_BenchMark.Models.PrenotazioniModel>

@{
    ViewBag.Title = "Index";
}

<h1>Prenotazioni</h1>

<div class="row row-cols-1 row-cols-md-3">
    <div>
        @Html.TextBox("CF")
    </div>
    <div>
        <span>Pensione completa?</span>
        @Html.CheckBox("Pensione")
    </div>
    <div>
        <button id="Cerca"> Cerca </button>
    </div>
</div> 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FkCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Al)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caparra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tariffa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MezzaPensione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaColazione)
        </th>
        <th></th>
    </tr>
    <tbody id="tbody">

    </tbody>

</table>

@section scripts
{
    <script src="~/Scripts/Filter.js"></script>
}
