@model IEnumerable<Epicode_U5_W2_D5_BenchMark.Models.RichiesteModel>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PkRichiesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FkPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FkTipologia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRichiesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Richiesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PkRichiesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FkPrenotazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FkTipologia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRichiesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Richiesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
